html {
  font-size: $font-size;
  overflow-y: scroll;
}

body {
  font-size: 1rem;
  font-family: $font-main;
}
a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-accent;
  }
}

h1 {
    margin-top: -9px;
    margin-bottom: $gap * 3;
    font-family: $font-header;
    font-size: 3rem;

  @include xs {
    font-size: 2rem;
    margin: 0 0 30px;
  }

  &::after {
    position: absolute;
    width: 100%;
    margin: 0.85em 0 0 15px;
    content: "";
    border-bottom: 3px solid rgba(240, 173, 79, 0.7);
  }
}

h2 {
  margin: 60px 0 45px 45px;
  font-family: $font-header;
  font-size: 2.5rem;

  @include xs {
    font-size: 1.75rem;
    margin:45px 30px 30px 45px;
  }

  &::before {
    position: absolute;
    left: 0;
    width: 30px;
    margin: 0.25em 0 0 0;
    content: "";
    border-bottom: 3px solid rgba(240, 173, 79, 0.7);
  }

  &::after {
    position: absolute;
    width: 100%;
    margin: 0.85em 0 0 15px;
    content: "";
    border-bottom: 3px solid rgba(240, 173, 79, 0.7);
  }

}

h3 {
  display: block;
  font-size: 1rem;
  white-space: nowrap;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  margin: 0;
}

h4 {
  font-size: $font-size * 1.125;
  color: $color-light;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}